*{
    margin: 0;
    padding: 0;
    
}
/*inicio*/
header{
    background-color:rgb(247, 241, 233) ;
    font-family: 'Aboreto', cursive;
    
}
h2{
    color: gray;
    font-family: 'Moon Dance', cursive;
    
}
body{
    background-color: rgb(240, 229, 214);
}
.imagen1{
    width: 300px;
    height: 200px;
}
.imagen2{
    width: 300px;
    height: 400px;
}
#texinicio{
    background-color: rgb(240, 229, 214);
    color: black;
    text-align: left;
    font-family: 'Klee One', cursive;
    padding: 10px;
    margin: 10px;
}
#imgres{
    padding: 10px;
    margin: 10px;
   
}
footer{
    background-color: rgb(240, 229, 214);
    padding: 10px;
    margin: 10px;
}
footer img{
    margin: auto;
    display: block;
}
footer ul li{
    background-color: rgb(240, 229, 214);
    
}
footer hr{
    color: rgba(244, 144, 13, 0.97) ;
}
